/example
/docs
/lib
/.nuxt
/coverage
/.circleci
/assets
/flow-typed
/build-example.js
/.flowconfig
/.eslintrc
/.coveralls.yml
/.babelrc
/node_modules
/yarn-error.log
/.prettierrc
/gulpfile.babel.js
/jest.config.js
