@charset "utf-8";
.card__box {
    width: 10em;
    border: 1px solid #ccc
}
.card__img {
    height: 7em;
    background: url(//placehold.it/300x300) center center / cover
}
.card__contents {
    padding: .3em .5em
}
.card__title {
    text-align: center;
    margin: .5em 0
}
.card__desc {
    font-size: .9em;
    word-break: break-all
}
.table {
    border-collapse: collapse;
    border: 1px solid #aaa
}
.table th {
    background: #ccc
}
.table th,
.table td {
    padding: .3em .5em;
    border: 1px solid #aaa
}
.nav__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #333;
    width: 100%;
    color: #fff
}
.nav__child--left,
.nav__child--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto
}
.nav__child--right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}
.nav__link {
    display: inline-block;
    padding: .3em .5em;
    color: inherit;
    text-decoration: none
}
.button {
    font-size: inherit;
    padding: .3em .5em;
    margin: .5em;
    background: #f3f3f3;
    border: 1px solid #a6a6a6;
    border-radius: 2px;
    outline: none;
    cursor: pointer
}
.button--active {
    font-size: inherit;
    padding: .3em .5em;
    margin: .5em;
    background: #cb1b45;
    border: 1px solid #710f26;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    color: #fff
}
.button--disabled {
    font-size: inherit;
    padding: .3em .5em;
    margin: .5em;
    background: #f3f3f3;
    border: 1px solid #a6a6a6;
    border-radius: 2px;
    outline: none;
    opacity: .4;
    cursor: default
}